<table class="table table-hover">
  <thead>
    <tr>
      <th>
        File name
      </th>
      <th>
        Imports summary
      </th>
      <th>
        Import result
      </th>
      <th>
        Delete
      </th>
    <tr>
  </thead>
  <tbody>
    <tr ng-repeat="file in files">
      <td>
        {{file}}
      </td>
      <td>
        0
      </td>
      <td>
        <button class="btn btn-success btn-mini">success</button>
        <button class="btn btn-warning btn-mini">failed</button>
      </td>
      <td>
        <button class="btn btn-danger btn-mini">Delete file</button>
      </td>
    </tr>
  </tbody>
<table>
