<button class="btn" ng-click="toggleFilter()">{{useFilter ? "Disable" : "Enable"}} filter</button>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        File name
      </th>
      <th>
        Imports summary
      </th>
      <th>
        Import result
      </th>
      <th>
        Delete
      </th>
    <tr>
  </thead>
  <tbody>
    <tr ng-repeat="file in files | filter:filterMethod">
      <td>
        <a ng-href="{{downloadUrl}}{{file.name}}">{{file.name}}</a>
      </td>
      <td>
        {{file.rate || 0}}
      </td>
      <td>
        <button class="btn btn-success btn-mini" ng-click="upvoteFile(file.name)">success</button>
        <button class="btn btn-warning btn-mini" ng-click="downvoteFile(file.name)">failed</button>
      </td>
      <td>
        <button class="btn btn-danger btn-mini" ng-click="deleteFile(file.name)">Delete file</button>
      </td>
    </tr>
  </tbody>
<table>
